a:link {
    text-decoration: none;
}
.card-body{
    text-align: left !important;
}
.no-margin-top-bottom{
    margin-bottom:0;margin-top: 0;
}

.carousel-indicators .active {
    background-color: #9843f5 !important;
}
.carousel-indicators .borderR
{
    /*color: #e11717 !important;*/
    border: 1px solid #9843f5 !important;
}
.carousel-item{
    padding-bottom: 20px;
}
.list-group-item{
    padding-left: 0 !important;
}
.list-group-item:hover{
    background-color: #f5cc27 !important;

}
.list-group-item i{
    background-color: #f5f0ff !important;
    color: purple;
}

.list-group-item{
    border: none !important;
}
.small-hover:hover{
    background-color: #3bbd3b;
    color: white;
}
.title-text{
    color: #9843f5;
}

hr{
    border: 1.5px solid;
}
li{
    list-style-type: none;
}
.padding-left{
    padding-left: 10%;
    padding-right: 10%
}
.bg-purple{
    background: #9843f5;
    border: #9843f5;
}
.faq-title-text{
    color: #f5bd43;
}

.logo-width{
        max-width: 200px;
        margin-right: 0;
        margin-left: 0;
}

.sign-up-button-margin{
    margin-left: 10px;
}
.sign-btn{
    color: #9843f5;border:1px solid #9843f5;background-color: #f5f0ff
}
.sign-btn:hover{
    color: #f5f0ff!important;
    background-color: #9843f5;
}
.login-btn{
    color: #406f58;
    background-color:#f5f0ff;
    border:1px solid green;
}
.login-btn:hover{
    color: white!important;
    background-color: #406f58;
}
.carousel-img-height{
    max-height: 80vh;object-fit: cover;
}
.main-icon-style{
    font-size: 80px; padding: 10px 0 20px 0 !important;
}
.hr-w{
    width: 8%!important
}
.news-container-margin{
    margin:0 10% 5% 10%
}
.org-bg-color{
    background-color: #f5f0ff
}
.about-sction-bg{
    background:  url('../images/aboutbg.png') round;
}
.delivery-section-bg{
    background:  url('../images/bg.png') round;
}
.delivery-section-card-margin{
    max-width:45rem;margin-top: -10%
}
.delivery-card-column{
    border-left: 4px solid rgba(80,80,84,0.65)
}
.btn-go-top{
    margin-top: -10%;margin-left: 4%
}
.footer-bg{
    background: url('../images/footerbg.png') round;margin-bottom: 0px
}
.bg-footer-color{
    background-color: #406f58
}
.last-footer-bg{
    background-color: #20432f
}